* {
    box-sizing: border-box;
}
.footer {
    font-size: 20px;
    text-align: right;
}

.header, .footer {
    background-color: grey;
    color: white;
    padding: 15px;
}
.header h1 {
    margin-top: 2%;
    text-align: center;
    color: white;
}
.column {
    float: left;
    padding: 15px;
}
.column h1{
    margin-top: 2%;
    text-align: center;
    color: #086A87;
}
.column img {
    display: block;
    margin: auto;
    max-width: 400px;
    position: relative;
    float: left;
    padding-left:20px;
    padding-top:10px;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.menu {
    width: 50%;
}
.content {
    width: 50%;
}
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.menu li {
    padding: 8px;
    margin-bottom: 8px;
    background-color: #33b5e5;
    color: #ffffff;
}
.menu li:hover {
    background-color: #0099cc;
}
div {
   // outline: red 2px solid;
}